
<nav id="home" class="col-md-12 col-xs-12 bg-warning">
    <a href="#home">Home</a>
    <a href="#search">Search</a>
    <a href="#hotels_table">Hotel List</a>
    <a href="hotels.html">Add Hotel</a>
</nav>